<div class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="/instagram">Instagram</a></li>
	</ol>
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
				      <input #instagramSearch (keydown.enter)="search(instagramSearch.value)" type="text" class="form-control" placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button" (click)="search(instagramSearch.value)">&nbsp;<i class="glyphicon glyphicon-search"></i>&nbsp;</button>
				      </span>
				    </div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;" >
				<div class="col-lg-6" *ngFor="#post of posts">
					<div class="panel panel-default">
					  <div class="panel-heading">{{ post.user.username }}</div>
					  <div class="panel-body">
					    <p>{{ post.caption.text }}</p>
					    <img src="{{ post.images.standard_resolution.url }}" width="100%">
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
		</div>
	</div>
</div>